* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

.header {
    background-image: url('img/header.png');
    background-size: 100% 100%; /* Растянуть на весь размер блока */
    background-position: center;
    background-repeat: no-repeat;
    height: 350px; /* Если нужно, можно увеличить */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.menu {
    margin-top: -234px;
    margin-left: 68px;
    display: flex;
    gap: 40px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

.logo img {
    width: 223px; /* Задайте нужный размер логотипа */
    height: auto;
}
.logo {
    flex-shrink: 0;
    margin: 0px 108px 20px 10px;

}

.intro {
    display: flex;
    justify-content: space-between;
    padding: 80px;
    background-color: #fff;
}

.intro-text {
    max-width: 60%;
}

.intro-text h1 {
    color: #044104;
    font-size: 60px;
    margin: -249px 0px 105px 25px;
}

.intro-text p {
    margin-top: 19px;
    font-size: 19px;
    padding-left: 51px;
    flex: 118%;
    line-height: 32px;
}

.goal {
    margin-top: -22px;
    font-size: 19px;
    flex: 72%;
    margin-left: 65px;
    line-height: 29px;
    color: #044104;
}

.activities {
    padding: 20px;
    background-color: #fff;
    padding-left: 55px;
}

.activities h2 {
    color: #044104;
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 53px;
}

.activity-block {
    background-image: url('img/center.png');
    background-size: 100% 175%; /* Растянуть на весь размер блока */
    background-position: top;
    background-repeat: no-repeat;
    height: 113px; /* Если нужно, можно увеличить */
    margin-right: -20px;
}

.activity-list {
    display: flex;
    justify-content: space-around;
    column-gap: 31px;
    padding: 10px;
    margin: 9px;
}

.activity-item {
    margin-left: 56px;
    margin-top: 41px;
    font-size: 25px;
    color: aliceblue;
    text-align: center;
    letter-spacing: normal;
    list-style-type: disc;
}

.automation {
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
}

.automation h2 {
    color: #3c8e62;
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 88px;
    text-align: center;
}

.automation-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.automation-image {
    width: 19%;    
    margin-left: 142px;
}

.automation-image img {
    width: 104%;
    height: 353px;
    border-top-right-radius: 240px 440px; /* Закругление для изображения */
}

.automation-list {
    background-image: url('img/list.png');
    background-size: 100% 100%; /* Растянуть на весь размер блока */
    background-position: top;
    background-repeat: no-repeat;
    height: 355px; /* Если нужно, можно увеличить */
    list-style: none;
    color: #fff;
    padding: 30px;   
    padding-left: 100px; 
    width: 70%;
    margin-right: -20px;
}

.automation-list li {
    margin-bottom: 33px;
    padding-left: 20px; /* Базовый отступ */
}

.automation-list li:nth-child(2) {
    padding-left: 55px;
}

.automation-list li:nth-child(3) {
    padding-left: 105px;
}

.automation-list li:nth-child(4) {
    padding-left: 160px;
}

.automation-list li:nth-child(5) {
    padding-left: 200px;
}
.automation-list li:nth-child(6) {
    padding-left: 245px;
}

.footer {
    background-image: url('img/footer.png');
    background-size: 100% 100%; /* Растянуть на весь размер блока */
    background-position: top;
    background-repeat: no-repeat;
    height: 118px; /* Если нужно, можно увеличить */
    color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    max-width: 1200px; /* Максимальная ширина футера */
    margin: 0 auto; /* Центрируем блок футера */
    gap: 115px;
}

.column-block {
    display: flex;
    flex-direction: column;
    gap: 30px; /* Отступы между элементами в колонке */
    font-size: 25px;
}

.contact-item_email,
.contact-item_phone,
.contact-item_mobile,
.contact-item_location {
    position: relative;
    height: 25px;
}

.contact-item_email::before,
.contact-item_phone::before,
.contact-item_mobile::before,
.contact-item_location::before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}

.contact-item_email::before {
    background-image: url(img/email-icon.png);
    margin-left: -52px;
    bottom: -9px;
    width: 40%;
    height: 39px;  
}

.contact-item_phone::before {
    background-image: url(img/phone-icon.jpg);
    margin-left: -44px;
    bottom: -8px;
    width: 40%;
    height: 29px;
}

.contact-item_mobile::before {
    background-image: url(img/mobile-icon.png);
    margin-left: -44px;
    bottom: -8px;
    width: 40%;
    height: 29px;
}

.contact-item_location::before {
    background-image: url(img/location-icon.png);
    margin-left: -44px;
    bottom: -8px;
    width: 40%;
    height: 29px;
}


.center-column{
    margin-top: 20px;
    align-items: center; /* Центрирует содержимое внутри колонки */
    text-align: center;
}

.contact-email{
    margin-left: 198px;
    font-size: 40px;
    color: #fff;
    text-decoration: none;
}

/* Опционально: стили для ссылок */
.contact_text {
    color: #fff;
    text-decoration: none;
}

.contact_text:hover {
    text-decoration: underline;
}

/* Адаптивные стили */
@media (max-width: 1024px) {

    .menu {
        display: none;
    }
    
    .logo {
        margin: 4px 0px 20px 571px;
    }
    
    .intro {
        flex-direction: column;
    }
    
    .intro-text {
        max-width: 80%;
    }
    
    .intro-text h1 {
        font-size: 50px;
    }
    
    .intro-text p {
        font-size: 21px;
        padding-left: 33px;
    }
    
    .goal {
        margin-top: 26px;
        font-size: 21px;
        margin-left: 27px;
    }
    
    .activity-block {
        height: 119px; 
    }
    
    .activity-item {
        margin-left: 68px;
        margin-top: 39px;
        font-size: 22px;
    }
    
    .automation-image {
        width: 30%;    
        margin-left: 62px;
    }
    
    .automation-image img {
        width: 87%;
    }
    
    .automation-list {
        padding-left: 50px; 
    }
    
    .automation-list li:nth-child(2) {
        margin-bottom: 33px;
        padding-left: 55px; 
    }
    
    .automation-list li:nth-child(3) {
        margin-bottom: 29px;
        padding-left: 89px;
    }
    
    .automation-list li:nth-child(4) {
        margin-bottom: 17px;
        padding-left: 124px;
    }
    
    .automation-list li:nth-child(5) {
        margin-bottom: 20px;
        padding-left: 153px;
    }
    .automation-list li:nth-child(6) {
        margin-bottom: 33px;
        padding-left: 172px;
    }
    
    .contact-info {
        gap: 70px;
    }
    
    .column-block {
        gap: 28px;
        font-size: 18px;
    }
    
    .contact-item_email::before {
        bottom: -5px;
        height: 41px;  
    }
    
    .contact-item_phone::before {
        bottom: 1px;
        height: 27px;
    }
    
    .contact-item_mobile::before {
        bottom: 2px;
        height: 26px;
    }
    
    .contact-item_location::before {
        bottom: 2px;
    }   
   
}

@media (max-width: 768px) {
        
    .logo {
        margin: 4px 0px 20px 475px;
    }

    .logo img {
        width: 145px;
    }
    
    .intro-text h1 {
        font-size: 40px;
        margin-left: -14px;
    }

    .intro-text p {
        margin-left: -44px;
    }
    
    .goal {
        margin-top: 26px;
        font-size: 20px;
        margin-left: -12px;
    }

    .activities h2 {
        font-size: 28px;
    }
    
    .activity-block {
        height: 104px; 
    }
    
    .automation-list {
       padding: 8px;
       margin: 9px; 
    }

    .activity-item {
        margin-left: 39px;
        margin-top: 40px;
        font-size: 17px;
    }

    .automation {
        margin-top: 20px;
    }

    .automation h2 {
        font-size: 28px;
    }

    .automation-image {
        width: 171%;
        margin-left: 10px;
    }

    .automation-image img {
        width: 84%;
    }

    .automation-list {
        width: 211%;
    }

    .automation-list li {
        margin-top: 20px;
        margin-bottom: 35px;
        padding-left: 37px;
        font-size: 15px;
    }
    
    .automation-list li:nth-child(2) {
        margin-top: -8px;
        margin-bottom: 24px;
        padding-left: 53px;
        font-size: 15px;
    }
    
    .automation-list li:nth-child(3) {
        margin-bottom: 21px;
        padding-left: 73px;
        font-size: 15px;
    }
    
    .automation-list li:nth-child(4) {
        margin-bottom: 22px;
        padding-left: 90px;
        font-size: 15px;
    }
    
    .automation-list li:nth-child(5) {
        margin-bottom: 26px;
        padding-left: 100px;
        font-size: 15px;
    }
    .automation-list li:nth-child(6) {
        margin-bottom: 22px;
        padding-left: 115px;
        font-size: 15px;
    }
    
    .contact-info {
        margin-left: 62px;
        gap: 116px;
    }
    
    .column-block {
        gap: 26px;
        font-size: 15px;
    }
    
    .contact-item_email::before {
        bottom: -5px;
        height: 41px;  
    }
    
    .contact-item_phone::before {
        bottom: 3px;
        height: 24px;
    }
    
    .contact-item_mobile::before {
        bottom: 2px;
        height: 22px;
    }
    
    .contact-item_location::before {
        bottom: 2px;
        height: 22px;
    } 
    
    .contact-email {
        margin-left: -32px;
        font-size: 27px;
    }
}

@media (max-width: 367px) {

    .header {
        background-size: 100% 54%;
        margin-top: -100px;
        height: 431px;
    }

    .logo {
        margin: 6px -290px 20px 207px;
    }

    .logo img {
        width: 83px;
    }

    .intro {
        padding: 108px 0px 53px 97px;
    }

    .intro-text {
        max-width: 83%;
    }
    
    .intro-text h1 {
        margin-top: -274px;
        margin-left: -68px;
        font-size: 17px;
        line-height: 22px;
    }

    .intro-text p {
        margin-top: -69px;
        margin-left: -104px;
        font-size: 15px;
        line-height: 22px;
    }
    
    .goal {
        width: 113%;
        margin-top: -87px;
        font-size: 15px;
        margin-left: -74px;
        line-height: 21px;
    }

    .activities {
        margin-top: -8px;
        margin-left: -47px;
    }

    .activities h2 {
        margin-top: -35px;
        margin-left: 15px;
        font-size: 17px;
    }
    
    .activity-block {
        height: 124px; 
        background-size: 100% 78%;
    }

    .activity-list {
        display: block;
    }

    .activity-item {
        margin-left: 21px;
        margin-top: 13px;
        margin-bottom: -5px;
        font-size: 13px;
    }

    .automation {
        margin-top: -11px;
    }

    .automation h2 {
        margin-top: -24px;
        margin-left: 2px;
        font-size: 19px;
        
    }

    .automation-image {
        width: 59%;
        margin-left: 15px;
    }

    .automation-image img {
        width: 100%;
        height: 382px;
    }

    .automation-list {
        width: 100%;
        height: 371px;
        margin-left: -5px;
    }

    .automation-list li {
        margin-top: 17px;
        margin-bottom: 14px;
        padding-left: 25px;
        font-size: 11px;
    }
    
    .automation-list li:nth-child(2) {
        margin-top: 0px;
        margin-bottom: 44px;
        padding-left: 34px;
        font-size: 11px;
    }
    
    .automation-list li:nth-child(3) {
        margin-top: -21px;
        margin-bottom: 18px;
        padding-left: 44px;
        font-size: 10px;
    }
    
    .automation-list li:nth-child(4) {
        margin-top: 0px;
        margin-bottom: 31px;
        padding-left: 50px;
        font-size: 10px;
    }
    
    .automation-list li:nth-child(5) {
        margin-top: -13px;
        margin-bottom: 19px;
        padding-left: 56px;
        font-size: 10px;
    }
    .automation-list li:nth-child(6) {
        margin-top: 0px;
        margin-bottom: 6px;
        padding-left: 61px;
        font-size: 10px;
    }

    .footer {
        padding: 13px;
    }
    
    .contact-info {
        margin-left: 30px;
        gap: 47px;
    }
    
    .column-block {
        margin-top: 12px;
        gap: 10px;
        font-size: 11px;
    }
    
    .contact-item_email::before {
        bottom: -8px;
        height: 35px;
        margin-left: -31px;  
    }
     .contact-item_email a {
        font-size: 5px;
        margin-left: -7px;
     }
    
    .contact-item_phone::before {
        bottom: 10px;
        height: 16px;
        margin-left: -29px;
    }

    .contact-item_phone a {
        font-size: 5px;
        margin-left: -5px;
     }
    
    .contact-item_mobile::before {
        bottom: 11px;
        height: 15px;
        margin-left: -30px;
    }

    .contact-item_mobile a {
        font-size: 6px;
        margin-left: -2px;
    }
    
    .contact-item_location::before {
        bottom: 9px;
        height: 18px;
        margin-left: -33px;
    } 

    .contact-item_location p {
        font-size: 6px;
        margin-left: -10px;
    }
    
    .contact-email {
        margin-left: -7px;
        font-size: 22px;
    }
    
}
